.avatarPlace {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 50%;
  //background-image: url('https://img2.akspic.ru/previews/4/9/4/6/6/166494/166494-igra_v_kalmara_squid_game-500x.jpg');
  background-size: cover;
  //background-image: url('https://firebasestorage.googleapis.com/v0/b/itlab-cfdd4.appspot.com/o/img%2Fno_avatar.jpg?alt=media&token=031d2377-6ad4-483d-b6a7-2bb490f48292');

  background-position: center;
  background-repeat: no-repeat;

}
